.user {
  font-style: italic;
  font-weight: bold;
  color: #2cd5fe;
}

.print-magic {
  font-style: italic;
  font-weight: bold;
  color: #f2cc23;
}

.snap-store {
  font-style: italic;
  font-weight: bold;
  color: #05af8e;
}